


.main{

    padding-left: 10px;
    >h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .container{
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 10px;

        .text {
            margin-right: 100px;
        }

        img {
            width: 95%;
            border: var(--bs);
        }
    }

}