


.main{

    padding-left: 10px;
    >h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    a{
        //color: var(--blue1);
        text-decoration: underline;
    }

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;

        .text {
            margin-right: 100px;
        }

        video {
            width: 95%;
            border: var(--bs);
        }
    }

}