:root {
  --bs: 5px solid black;
  --bg: rgb(249, 255, 254);
  --red1: rgb(231, 40, 10);
  --orange1: rgb(234, 163, 12);
  --blue1: rgb(17, 88, 231);
  --yellow1: rgb(228, 228, 17);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--bg);
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
