
.red{
    background-color: var(--red1);
}

.yellow{
    background-color: var(--yellow1);
}

.blue{
    background-color: var(--blue1);
}

.orange{
    background-color: var(--orange1);
}


.mainBody{
    border: var(--bs);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 60px auto 60px;

    .column_l{
        border-right: var(--bs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
        padding-bottom: 40px;
        > div{ 
            width: 20px;
            height: 20px;
            border-radius: 20px;
            border:  var(--bs);
        } 
    }

    .column_r{
        border-left:  var(--bs);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px;
        padding-bottom: 40px;
        > div{
            width: 20px;
            height: 20px;
            border-radius: 20px;
            border:  var(--bs);
        } 
    }
}