


.main{
    margin-left: 10px;
    > h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .intro{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .intro_text{
           max-width: 33vw;
        }
        .image{
            padding: 10px;
            height: 250px;
            width: 400px;
            position: relative;
            overflow: hidden;
        }
    }
}

