

.main{
    padding-left: 10px;
    width: 100%;
    overflow-x: hidden;
    >h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .container{
        display: flex;
        flex-direction: row;        
        gap: 10px;
        justify-content: space-between;
        .text {
            
        }
        .images{
            max-width: 40vw;
        }
    }
    
}

.filesCtn{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.loadingPlaceholder{
    display: flex;
    flex-direction: row;
    gap:10px;
    .page_loading{
        width: 200px !important;
        height: 282px;
        background-color: rgba(191, 191, 191, 0.24);
    }
}