

.main{
    padding-left: 10px;
    >h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr ;
        gap: 10px;
        .text {
            margin: 20px; 
        }
        .images{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                border: var(--bs);
            }
        }
    }
}