


.main{
    margin-left: 10px;
    > h1{
        margin: 0px;
        margin-bottom: 10px;
    }
    .intro{
        display: grid;
        grid-template-columns: 40% 60%;
        justify-content: center;
        .intro_text{
            margin-right: 30px;
        }
        .image{
            padding: 10px;
            > img{
                width: 95%;
                border: var(--bs);
            }
        }
    }
}

